table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.success-message {
    color: green;
    font-size: 34px;
}

.error-message {
    color: red;
}

#fetchButton {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text color */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline-block */
    font-size: 16px; /* Text size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#fetchButton:hover {
    background-color: #45a049; /* Darker green on hover */
}

